services:
  wbordersaver:
    build: .
    env_file: .env
    volumes:
      - ./logs:/var/log
    ports:
      - "8081:8081"
      - "8082:8082"
    deploy:
      resources:
        limits:
          cpus: '0.3'
          memory: '64M'
        reservations:
          cpus: '0.1'
          memory: '32M'
    networks:
      - app-network
      - kafka-net
      - monitoring-network
    depends_on:
      db:
        condition: service_healthy
      kafka1:
        condition: service_healthy
      kafka2:
        condition: service_healthy
      kafka3:
        condition: service_healthy
    restart: on-failure


  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    networks:
      - app-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_INIT_LIMIT: 3
      ZOOKEEPER_SYNC_LIMIT: 2
    networks:
      - kafka-net

  kafka1:
    image: confluentinc/cp-server:7.1.1
    hostname: kafka1
    container_name: kafka1
    depends_on:
      - zookeeper
    ports:
      - "9091:9091"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:29091,PLAINTEXT_HOST://localhost:9091
    networks:
      - kafka-net
    healthcheck:
      #            test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:29091" ]
      test: [ "CMD", "bash", "-c", "for i in {1..30}; do if kafka-broker-api-versions --bootstrap-server localhost:29091 > /dev/null 2>&1; then echo 'Broker ready'; exit 0; fi; echo 'Waiting for broker...'; sleep 2; done; exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s

  kafka2:
    image: confluentinc/cp-server:7.1.1
    hostname: kafka2
    container_name: kafka2
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:29092,PLAINTEXT_HOST://localhost:9092
    networks:
      - kafka-net
    healthcheck:
#      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:29092" ]
      test: [ "CMD", "bash", "-c", "for i in {1..30}; do if kafka-broker-api-versions --bootstrap-server localhost:29092 > /dev/null 2>&1; then echo 'Broker ready'; exit 0; fi; echo 'Waiting for broker...'; sleep 2; done; exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s

  kafka3:
    image: confluentinc/cp-server:7.1.1
    hostname: kafka3
    container_name: kafka3
    depends_on:
      - zookeeper
    ports:
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka3:29093,PLAINTEXT_HOST://localhost:9093
    networks:
      - kafka-net
    healthcheck:
#      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:29093" ]
      test: [ "CMD", "bash", "-c", "for i in {1..30}; do if kafka-broker-api-versions --bootstrap-server localhost:29093 > /dev/null 2>&1; then echo 'Broker ready'; exit 0; fi; echo 'Waiting for broker...'; sleep 2; done; exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "9020:8080"
    environment:
      AUTH_TYPE: DISABLED
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka1:29091,kafka2:29092,kafka3:29093
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    networks:
      - kafka-net
    healthcheck:
      test: [ "CMD", "echo", "ruok", "nc", "localhost", "2181" ]
      interval: 10s
      timeout: 5s
      retries: 5


  db:
    image: postgres:15
    container_name: go_postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5400:5432"
    volumes:
      - ./internal/repository/postgres/migrations/01_init_tables.sql:/docker-entrypoint-initdb.d/01_init_tables.sql
      - ./internal/repository/postgres/migrations/02_seed_data.sql:/docker-entrypoint-initdb.d/02_seed_data.sql
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 10

  promtail:
    image: grafana/promtail
    ports:
      - "9080:9080"
    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yml
      - ./logs:/var/log
    networks:
      - monitoring-network

  loki:
    image: grafana/loki
    ports:
      - "3100:3100"
    networks:
      - monitoring-network

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./pkg/prometheus/alerts.yml:/etc/prometheus/alerts.yml
      - prometheusdata:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    networks:
      - monitoring-network

  alertmanager:
    image: prom/alertmanager:latest
    ports:
      - "9095:9095"
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    networks:
      - monitoring-network


  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - loki
      - prometheus
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    volumes:
      - grafanadata:/var/lib/grafana
      - ./grafana-provisioning:/etc/grafana/provisioning
      - ./dashboards:/var/lib/grafana/dashboards
    networks:
      - monitoring-network

volumes:
  redisdata:
  db_data:
  prometheusdata:
  grafanadata:

networks:
  kafka-net:
    driver: bridge
  app-network:
    driver: bridge
  monitoring-network:
    driver: bridge

