server:
  http_listen_port: 9080

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: wbordersaver
    static_configs:
      - targets: [localhost]
        labels:
          job: wbordersaver
          __path__: /var/log/orderSaver.log
    pipeline_stages:
      - json:
          expressions:
            time: time
            level: level
            msg: msg
            source: source
      - labels:
        level:
      - timestamp:
        source: time
        format: RFC3339